body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.centered{
    text-align: center;
}

#imagecontainer{
     background-color: rgba(26, 102, 97, 0.658);
}

header p{
    border-top-style: solid;
    border-top-color: rgba(113, 211, 32, 0.97);
    margin-top: 0;
    padding: 1em;
    background-color: rgba(255, 228, 196, 0.475);
}

header span{

    font-weight: bold;
}

.main-container{
    margin-left: 25%; margin-right: 25%;
}

iframe{
    width: 100%; border-radius: 1px;
}


.artist{
    color: grey;
}

.redtext{
    color: red;
}

main div{
    border-left-style: solid;
    border-left-color:  rgba(113, 211, 32, 0.97) ;

}

